---
layout: default
title: dbro.pro
---

<!-- Posts -->
{% for post in paginator.posts %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<a href="{{ post.url }}">
		<div class="card">
			<h1>{{ post.title }}</h1>
			<p>{{ post.blurb }}</p>
			<p>{{ post.date | date_to_string }}</p>
		</div>
		</a>
	</div>
</div>
{% endfor %}

<!-- About Link -->
<div class="row">
	<div class="col-md-8 col-md-offset-2 text-right">
		<a class="darklink" href="/about.html"><span class="glyphicon glyphicon-info-sign"></span></a>
	</div>

</div>

<!-- Paginator Links -->
<div class="row">
	<div class="col-md-8 col-md-offset-2" style="text-align:center">
	{% if paginator.total_pages > 1 %}
	<div class="pagination">
	  {% if paginator.previous_page %}
	    <a class="arrow" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="glyphicon glyphicon glyphicon-chevron-left arrow"></span></a>
	  {% else %}
	    <span class="glyphicon glyphicon glyphicon-chevron-left arrow"></span>
	  {% endif %}

	  {% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
	      <em>{{ page }}</em>
	    {% elsif page == 1 %}
	      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	    {% else %}
	      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	    {% endif %}
	  {% endfor %}

	  {% if paginator.next_page %}
	    <a class="arrow" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="glyphicon glyphicon glyphicon-chevron-right arrow"></span></a>
	  {% else %}
	    <span class="glyphicon glyphicon glyphicon-chevron-right arrow"></span>
	  {% endif %}
	</div>
	{% endif %}
	</div>
</div>
