<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"> 
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <!-- dbro.pro overrides -->
    <link rel="stylesheet" href="/css/dbro.css">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row header">
        <div class="col-md-8 col-md-offset-2">
        <a href="/"><img src="/img/dbro.png" class="img-responsive" alt="Bzzzzzzt!"></a>
        </div>
      </div>

      {{ content }}

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
